# Ignore arquivos de configuração do Visual Studio
.vs/
*.suo

# Ignore pastas bin e obj
bin/
obj/

# Ignore arquivos específicos de debug e build
*.dll
*.pdb
*.exe
*.cache
*.csproj.user

# Ignore arquivos e pastas gerados automaticamente
bin/Debug/
obj/Debug/

# Ignore arquivos de cache de build em tempo de design
.vs/CadastroCliente/DesignTimeBuild/.dtbcache.v2
/.vs/CadastroCliente/v17/.suo
/.vs/CadastroCliente/v17/DocumentLayout.json
/1-Apresentacao/bin/Debug/net8.0/Application.dll
/1-Apresentacao/bin/Debug/net8.0/Application.pdb
/1-Apresentacao/bin/Debug/net8.0/Domain.dll
/1-Apresentacao/bin/Debug/net8.0/Domain.pdb
/1-Apresentacao/bin/Debug/net8.0/Infrastructure.dll
/1-Apresentacao/bin/Debug/net8.0/Infrastructure.pdb
/1-Apresentacao/bin/Debug/net8.0/Presentation.dll
/1-Apresentacao/bin/Debug/net8.0/Presentation.exe
/1-Apresentacao/bin/Debug/net8.0/Presentation.pdb
/1-Apresentacao/obj/Debug/net8.0/ref/Presentation.dll
/1-Apresentacao/obj/Debug/net8.0/refint/Presentation.dll
/1-Apresentacao/obj/Debug/net8.0/apphost.exe
/1-Apresentacao/obj/Debug/net8.0/Presentation.AssemblyInfo.cs
/1-Apresentacao/obj/Debug/net8.0/Presentation.AssemblyInfoInputs.cache
/1-Apresentacao/obj/Debug/net8.0/Presentation.csproj.AssemblyReference.cache
/1-Apresentacao/obj/Debug/net8.0/Presentation.dll
/1-Apresentacao/obj/Debug/net8.0/Presentation.pdb
/1-Apresentacao/obj/Debug/net8.0/Presentation.sourcelink.json
/2-Aplicacao/bin/Debug/net8.0/Application.dll
/2-Aplicacao/bin/Debug/net8.0/Application.pdb
/2-Aplicacao/bin/Debug/net8.0/Domain.dll
/2-Aplicacao/bin/Debug/net8.0/Domain.pdb
/2-Aplicacao/bin/Debug/net8.0/Infrastructure.dll
/2-Aplicacao/bin/Debug/net8.0/Infrastructure.pdb
/2-Aplicacao/obj/Debug/net8.0/ref/Application.dll
/2-Aplicacao/obj/Debug/net8.0/refint/Application.dll
/2-Aplicacao/obj/Debug/net8.0/Application.AssemblyInfo.cs
/2-Aplicacao/obj/Debug/net8.0/Application.AssemblyInfoInputs.cache
/2-Aplicacao/obj/Debug/net8.0/Application.csproj.AssemblyReference.cache
/2-Aplicacao/obj/Debug/net8.0/Application.dll
/2-Aplicacao/obj/Debug/net8.0/Application.pdb
/2-Aplicacao/obj/Debug/net8.0/Application.sourcelink.json
/3-Domino/bin/Debug/net8.0/Domain.dll
/3-Domino/bin/Debug/net8.0/Domain.pdb
/3-Domino/obj/Debug/net8.0/ref/Domain.dll
/3-Domino/obj/Debug/net8.0/refint/Domain.dll
/3-Domino/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/3-Domino/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
/3-Domino/obj/Debug/net8.0/Domain.csproj.CoreCompileInputs.cache
/3-Domino/obj/Debug/net8.0/Domain.dll
/3-Domino/obj/Debug/net8.0/Domain.pdb
/3-Domino/obj/Debug/net8.0/Domain.sourcelink.json
/.vs/CadastroCliente/DesignTimeBuild/.dtbcache.v2
/4-InfraEstrutura/bin/Debug/net8.0/Domain.dll
/4-InfraEstrutura/bin/Debug/net8.0/Domain.pdb
/4-InfraEstrutura/bin/Debug/net8.0/Infrastructure.dll
/4-InfraEstrutura/bin/Debug/net8.0/Infrastructure.pdb
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
/4-InfraEstrutura/obj/Debug/net8.0/ref/Infrastructure.dll
/4-InfraEstrutura/obj/Debug/net8.0/refint/Infrastructure.dll
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.dll
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.pdb
/4-InfraEstrutura/obj/Debug/net8.0/Infrastructure.sourcelink.json
/1-Apresentacao/obj/Debug/net8.0/staticwebassets/msbuild.Presentation.Microsoft.AspNetCore.StaticWebAssets.props
/1-Apresentacao/bin/Debug/net8.0/Presentation.staticwebassets.runtime.json
/1-Apresentacao/obj/Debug/net8.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
/1-Apresentacao/obj/Debug/net8.0/project.razor.vs.bin
/1-Apresentacao/obj/Debug/net8.0/staticwebassets.build.json
/1-Apresentacao/obj/Debug/net8.0/staticwebassets.development.json
/1-Apresentacao/obj/Debug/net8.0/staticwebassets.pack.json
