html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f8f9fa;
}

/* Personalizações adicionais */
.jumbotron {
    background-color: #ffffff;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .jumbotron .display-4 {
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .jumbotron .lead {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

.btn-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

    .footer .text-muted {
        margin: 0;
    }

/* Estilo para navbar */
.navbar {
    margin-bottom: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .navbar .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 1rem;
}

.container {
    max-width: 960px;
}

/* Adicionar cores da logo */
.navbar-light .navbar-nav .nav-link {
    color: #258cfb;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #ffa500;
    }

/* Estilos personalizados para o formulário de cadastro */
.card {
    border: 1px solid #e7e7e7;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}

.card-title {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border-radius: 0.25rem;
}

.row.mb-3 {
    margin-bottom: 1rem !important;
}

select.form-control {
    width: 100%;
}